/* 1. Bases del diseño */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --MainBlue: #01eadd;
  --MainBlack: #282e3c;
  --SecondaryBlue: #E5FDF4;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--MainBlack);
  margin: 0px;

}

h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--MainBlack);

}

h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--MainBlack);
}

h3 {
  font-size: 1rem;
  text-align: center;
  color: var(--MainBlue);
  text-transform: uppercase;

}

P {
  font-size: 1rem;
  color: var(--MainBlack);
  text-align: left;
  margin: 0px;
  line-height: 1.5rem;

}

body {
  background-color: var(--MainBlack);
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: var(--MainBlue);
}



.main__gridStructure {
  grid-column: 2/3;
}

.buttonMain {
  color: var(--MainBlack);
  background-color: var(--MainBlue);
  border-color: var(--MainBlue);
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

.buttonMain:hover {
  background-color: rgba(1, 234, 221, 0.6);
  font-weight: 500;
}

header, section, footer {
  display: grid;
  grid-template-columns: 1fr 1120px 1fr;
}


/* 2. Header  */

header {

  background-color: var(--MainBlack);
  display: flex;
  padding-right: 3rem;
  padding-left: 3rem;

}

.navbar {
  width: 100%;
}

#navbarTogglerDemo03 {
  flex-grow: 0;
}



.navbar-toggler {
  background-image: url("../Media/menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1.5px solid white;
}

header . {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__logo {
  max-width: 300px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  list-style: none;
  display: flex;
}

nav li a {
  text-decoration: none;
  color: white;
  text-align: center;
  margin-left: 0.7rem;
}




nav li a:visited {
  color: white;
}

/* 3. Frase Principal */


#mainPhrase{
  display: grid;
  grid-template-columns: 1fr 1120px 1fr;
  background-color: var(--MainBlack);
  margin-bottom: 2.5rem;
}

#mainPhrase .main__gridStructure {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-template-rows: min-content min-content;

}

.main__micro {
  max-height: 300px;
}

#mainPhrase h1 {
  grid-column: 1/2;
  grid-row: 1/2;
  color: white;
  margin-bottom: 2rem;
}


#mainPhrase p {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 1.1rem;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  text-align: justify;

}

#mainPhrase img {
  grid-column: 2/3;
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
}

/* 4. Nuestros Principios */

#nuestrosPrincipios {
  background-color: white;
}

#nuestrosPrincipios .main__gridStructure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
}

#nuestrosPrincipios h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  padding-top: 4rem;
}

.valuesStructure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.8rem;
}

.valuesStructure:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.valuesStructure:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.valuesStructure:nth-of-type(3) {
  grid-column: 1/2;
  grid-row: 3/4;
  margin-top: -3rem;
}

.valuesStructure:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 3/4;
  margin-top: -3rem;
}

#nuestrosPrincipios img {
  height: 3.1rem;
}

#nuestrosPrincipios h3, #nuestrosPrincipios p {
  text-align: center;
}

#nuestrosPrincipios h3 {
  font-weight: 700;
  padding-top: 0.5em;
}

/* 5. Nuestra Inspiracion */


#nuestraInspiracion{
  background-color: var(--SecondaryBlue);
  padding-top: 4rem;
  padding-bottom: 4rem;
}


#nuestraInspiracion .main__gridStructure{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

#nuestraInspiracion h2{
  grid-column: 1/3;
  grid-row: 1/2;
}

.inspiracionDescription {
 text-align: center;
 margin-bottom: 4rem;
 grid-column: 1/3;
 grid-row: 2/3;
}

#nuestraInspiracion iframe {
 grid-column: 1/2;
 grid-row: 3/4;
}

.inspiracionPhrase {
  grid-column: 2/3;
  grid-row:  3/4;
  text-align: center;
  font-style: italic;
  margin: auto 3rem;
}

.inspiracionPhrase span {
  font-weight: 700;
  color: var(--MainBlue);

}

/* 6. Cómo lo aplicamos */

#comoLoAplicamos {
  background-color: white;
  padding-top: 4rem;
}

#comoLoAplicamos .main__gridStructure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#comoLoAplicamos p{
  text-align: center;
}

#comoLoAplicamos img{
  width: 100%;
}

/* 7. Que no se interrumpa */

#QueNoSeInterrumpa {
  background-color: var(--SecondaryBlue);
  padding-top: 4rem;
}

#QueNoSeInterrumpa .main__gridStructure {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#QueNoSeInterrumpa h2 {
  grid-column: 1/3;
  grid-row: 1/2;
}

#QueNoSeInterrumpa img {
  grid-column: 1/2;
  grid-row: 2/3;
  height: 70%;
  margin-top: auto;
  margin-bottom: auto;
}

#QueNoSeInterrumpa p {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: auto 2rem;
}

/* 8. Lo quiero */

#LoQuiero {
  background-color: white;
  padding-top: 2rem;
}


#LoQuiero .main__gridStructure{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#LoQuiero h2:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: auto;
  margin-bottom: auto;
}

#LoQuiero h2:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: auto;
  margin-bottom: auto;
}

#LoQuiero .buttonMain:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

#LoQuiero .buttonMain:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

#LoQuiero .buttonMain a {
  text-decoration: none;
  color: var(--MainBlack);
}

form iframe {
  height: 1000px;

}

/* Footer */

Footer .main__gridStructure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

Footer div div {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:center;
}

Footer img {
 max-width: 100px;
 margin: 2rem;
}

Footer a {
  color: white;
  margin-top: 0.5em;
  margin-top: 0.5em;
  text-decoration: none;
}

Footer a:hover {
  color: var(--MainBlue);
}

/* Partners */

#partners {
  background-color: white;
  padding-bottom: 3rem;
}

#partners .main__gridStructure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#partners h2 {
  padding-top: 1em;
  padding-bottom: 1em;
}


#partners p {
  text-align: center;
  padding-bottom: 3em;
}

#partners img {
  max-height: 80px;
}



/* Quienes somos */

#QuienesSomos {
  background-color: white;
  padding-bottom: 3rem;
}

#QuienesSomos P {
  text-align: center;
}

#QuienesSomos h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Contacto */

#contacto {
  background-color: white;
}

#contacto p {
  text-align: center;
  margin-bottom: 3em;
}

#contacto h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Lo quiero */

#loQuiero {
  background-color: white;
}

#loQuiero h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

#loQuiero p {
  text-align: center;
}

#loQuiero .main__gridStructure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}





/* Adaptaciones mobile */



@media all and (max-width: 1120px) {

  header, section, footer {
    grid-template-columns: 1fr;
  }



  .main__gridStructure {
    grid-column: 1/2;
  }

  #partners, footer {
    padding-right: 1rem;
    padding-left: 1rem;
  }



  #mainPhrase{
    grid-template-columns: 1fr;
    /* margin-bottom: 2.5rem; */
  }

  #mainPhrase .main__gridStructure {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main__micro {
    display: none;
  }

  #mainPhrase h1 {

    margin-bottom: 1rem;
    text-align: center;
  }


  #mainPhrase p {
    font-size: 1.1rem;
    /* margin-top: auto;
    margin-bottom: auto; */

    text-align: center;

  }

    #mainPhrase .main__gridStructure, #nuestraInspiracion .main__gridStructure, #comoLoAplicamos .main__gridStructure, #QueNoSeInterrumpa .main__gridStructure, #LoQuiero .main__gridStructure {
    padding-left: 1rem;
    padding-right: 1rem;

  }



  #QueNoSeInterrumpa .main__gridStructure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  #QueNoSeInterrumpa img {

    height: 30%;
    margin-top: 0;
    margin-bottom: 0;
  }

  #QueNoSeInterrumpa p {
    text-align: center;
    margin: 0;
  }


  #nuestraInspiracion .main__gridStructure{
    display: flex;
    flex-direction: column;
    align-items: center;

  }



  #loQuiero p, #contacto p, #QuienesSomos P {
    padding-right: 2rem;
    padding-left: 2rem;
  }




  }

  @media all and (max-width: 728px) {

    #LoQuiero {
      /* padding-top: 2rem; */
    }


    #LoQuiero .main__gridStructure{
      display: flex;
     flex-direction: column;
     align-items: center;
    }

    #nuestraInspiracion iframe {
     width: 90vw;
    }


    h1 {
      font-size: 2rem;

    }

    h2 {
      font-size: 2rem;
      font-weight: 600;
    }

    #QueNoSeInterrumpa img {

      width: 70vw;

    }


    #nuestrosPrincipios .main__gridStructure {
      display: flex;
      flex-direction: column;
      align-items: center;

    }



    .valuesStructure {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
    }


    .valuesStructure:nth-of-type(3) {

      margin-top: 0;
    }

    .valuesStructure:nth-of-type(4) {

      margin-top: 0;
    }





    header {

      padding-right: 0rem;
      padding-left: 0rem;

    }


    nav li a {
      margin-top: 1em;
      margin-left: 0rem;
    }

    #nuestraInspiracion {
      padding-top: 0;
    }

    #nuestrosPrincipios h2, #nuestraInspiracion h2 {
      padding-top: 3rem;
      padding-bottom: 1rem;
    }

    #comoLoAplicamos, #QueNoSeInterrumpa {
      padding-top: 3rem;
      padding-bottom: 1rem;
    }

    .inspiracionDescription {
      margin-bottom: 2rem;
    }

    .main__logo {
      margin-right: 0.5rem;
      width: 60vw;
      margin-left: 0.5rem;
    }

    #LoQuiero h2 {
      font-size: 1.5rem;
    }

    #LoQuiero .buttonMain:nth-of-type(1),#LoQuiero .buttonMain:nth-of-type(2) {
      margin-top: 1.5rem;
    }

    }
